.wrapper-device {
  margin: pxToRem(85) pxToRem(20) pxToRem(20);
  padding: pxToRem(20);
  // min-width: pxToRem(1670);
  background-color: $white;
  border-radius: pxToRem(15);

  @include customerSelect(37);

  &__head-menu {
    &__title {
      font-family: $Noto-Sans-Font;

      &__text {
        font-size: pxToRem(20);
        font-weight: 900;
        line-height: 1.45;
        letter-spacing: -0.6px;
        text-align: left;
        color: $bg-button;
        margin-left: pxToRem(10);
      }

      &__des {
        margin-left: pxToRem(10);
        font-size: pxToRem(14);
        line-height: 1.43;
        letter-spacing: -0.42px;
        text-align: left;
        color: $gray-shadow;
      }
    }

    &__search {
      display: flex;
      align-items: center;
      margin-top: pxToRem(25);
      margin: pxToRem(20) 0 pxToRem(20) 0;
      justify-content: space-between;

      &__options {
        display: flex;

        .search-option-title {
          font-size: pxToRem(17);
          line-height: 1.47;
          letter-spacing: -0.51px;
          text-align: left;
          color: $bg-button;
          font-weight: bold;
        }

        .search-option-character {
          color: $bg-button;
          opacity: 0.3;
          margin-left: pxToRem(20);
          width: pxToRem(2);
          margin-right: pxToRem(30);
        }
      }

      .customer-select {
        max-width: pxToRem(140);
      }

      &__input {
        position: relative;

        .search__icon {
          position: absolute;
          left: pxToRem(70);
          top: 55%;
          transform: translateY(-50%);
          cursor: pointer;
          width: pxToRem(20);
          height: pxToRem(20);

          img {
            left: pxToRem(60);
          }
        }

        .wrapper-input-search {
          border-radius: pxToRem(3);
          border: solid 1px $color-light10;
          margin-left: pxToRem(50);
          width: pxToRem(939);
          height: pxToRem(39);
          padding-left: pxToRem(55);
        }

        .wrapper-input-search::placeholder {
          font-size: pxToRem(15);
          line-height: 1.47;
          letter-spacing: -0.45px;
          text-align: left;
          color: $color-input-search;
          font-stretch: normal;
        }

        ::-webkit-input-placeholder {
          /* Edge */
          font-size: pxToRem(15);
          line-height: 1.47;
          letter-spacing: -0.45px;
          text-align: left;
          color: $color-input-search;
        }

        :-ms-input-placeholder {
          /* Internet Explorer */
          font-size: pxToRem(15);
          line-height: 1.47;
          letter-spacing: -0.45px;
          text-align: left;
          color: $color-input-search;
        }
      }

      .custom-btn {
        width: pxToRem(100);
        height: pxToRem(37);
        border-radius: pxToRem(3);
        margin-left: pxToRem(10);
        width: 27px;
        font-size: pxToRem(15);
        line-height: 1.28;
        letter-spacing: -0.6px;
        text-align: center;
        color: $white;
        font-weight: normal;
      }
    }
  }

  &__table {
    margin-top: pxToRem(20);
    min-height: 70vh;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: pxToRem(30);
  }

  .device-detail {
    @include customerSelect(32);

    &__title {
      display: flex;
      align-items: center;
      margin-left: pxToRem(10);

      p {
        font-family: $Noto-Sans-Font;
        font-size: pxToRem(18);
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.54px;
        text-align: left;
        color: $bg-button;
        margin-left: pxToRem(10);
      }

      img {
        font-size: pxToRem(12);
        height: 10px;
      }
    }

    &__form {
      display: flex;

      .input-change {
        font-family: $Roboto-Font;
        font-size: pxToRem(15);
        font-weight: normal;
        line-height: 1.2;
        letter-spacing: -0.45px;
        text-align: left;
        color: $black-active;
      }

      .col-item.col-2 {
        .cell {
          background-color: $bg-light10;
          border: solid pxToRem(1) $color-light10;
          font-size: pxToRem(17);
          font-weight: bold;
          line-height: 1.47;
          letter-spacing: pxToRem(-0.51);
          text-align: center;
          color: $bg-button;
          text-align: center;
          justify-content: center;
          // border-left: 0;
          border-top: 0;
          border-right: 0;
        }

        &.right .cell {
          &:last-child {
            border-bottom: 0;
          }
        }
      }

      .col-item.col-4 {
        .cell {
          // border-left: 0;
          border-top: 0;
          border-right: 0;

          &:last-child {
            border-bottom: 0;
          }

          * {
            font-size: pxToRem(15);
          }
        }
      }

      .col-item {
        padding: 0;

        .cell {
          border: solid pxToRem(1) $color-light10;
          width: 100%;
          height: pxToRem(40) !important;
          display: flex;
          justify-content: center;
          align-items: center;


          input {
            border: none;
            padding: 0;
            height: 100%;
            width: 100%;
            padding-left: pxToRem(20);
          }

          input:disabled {
            background-color: $input-disable;
          }
        }

        .cell:first-child {
          // border-left: solid pxToRem(0.25) $color-light10;
          width: 100%;
          height: pxToRem(40) !important;
        }
      }

      .col-item:first-child {
        // border-left: pxToRem(0.5) solid $color-light10;
        height: pxToRem(40) !important;
      }

      .col-item:nth-child(odd) {
        background-color: #f3f5f8;
      }

      .col-item:last-child {
        border-right: pxToRem(0.5) solid $color-light10;
      }

      .col-item {
        border-top: pxToRem(0.5) solid $color-light10;
        border-bottom: pxToRem(0.5) solid $color-light10;
      }

      
    }

    &__btn-group {
      display: flex;
      justify-content: center;
      margin: pxToRem(30) 0;

      .btn-modify {
        height: pxToRem(37);
        width: pxToRem(150);
      }

      .btn-cancel {
        height: pxToRem(37);
        width: pxToRem(150);
        margin-left: pxToRem(20);
        background-color: $btn-shadow;
      }
    }
  }
}

.group-button {
  justify-content: center !important;

  .btn-custom {
    width: pxToRem(200);
    height: pxToRem(60);
    min-width: 0 !important;
  }

  .btn-custom:last-child {
    margin-left: pxToRem(10);
    background-color: $btn-shadow;
  }
}

.register {
  &__form {
    display: flex;

    &.col-span {
      .col-item {
        &.col-10 {
          border-right: 0 !important;
          border-bottom: 0 !important;
        }

        .cell {
          border-top: 0 !important;
          border-left: 0 !important;
          border-bottom: 0 !important;
        }

        &.col-2 {
          border-bottom: 0 !important;
        }
      }
    }

    .col-item {
      padding: 0;
      border-top-width: 0.5px;

      &.col-4 {
        &:last-child {
          border-right: 0 !important;
        }
      }

      .col-10 {
        border-right: 0;
      }

      img {
        position: absolute;
        left: pxToRem(165);
      }

      .cell {
        border: solid pxToRem(0.25) $color-light10;
        width: 100%;
        height: pxToRem(50) !important;
        display: flex;
        align-items: center;
        padding-left: pxToRem(20);
        border-top: 0;
        border-left: 0;

        .unit {
          font-size: pxToRem(15);
          line-height: 1.2;
          letter-spacing: pxToRem(-0.45);
          margin-left: pxToRem(10);
          text-align: left;
          color: $black-active;
        }

        &:last-child {
          border-bottom: 0;
        }

        .customer-select {
          height: pxToRem(30);
          display: flex;
          align-items: center;
          width: pxToRem(180);

          .css-2b097c-container {
            width: pxToRem(180);
          }
        }

        input {
          border: solid 1px #e3e3e3;
          padding: 0;
          height: pxToRem(32);
          width: pxToRem(180);
          padding-left: pxToRem(20);
          border-radius: pxToRem(3);
          @include InputPlaceholder(#e3e3e3, 15);
        }

        input:disabled {
          background-color: $input-disable;
        }
      }

      .cell-disable {
        background-color: $input-disable;
        cursor: none;
      }

      .cell:first-child {
        // border-left: solid pxToRem(0.25) $color-light10;
        width: 100%;
        height: pxToRem(50) !important;
      }
    }

    .col-item:first-child {
      border-left: pxToRem(0.5) solid $color-light10;
    }

    .col-item:nth-child(odd) {
      background-color: #f3f5f8;
    }

    .col-item:last-child {
      border-right: pxToRem(0.5) solid $color-light10;
    }

    .col-item {
      border-top: pxToRem(0.5) solid $color-light10;
      border-bottom: pxToRem(0.5) solid $color-light10;
    }
  }

  &__btn-group {
    display: flex;
    justify-content: center;
    margin-top: pxToRem(30);

    .btn-modify {
      height: pxToRem(37);
      width: pxToRem(150);
    }

    .btn-cancel {
      height: pxToRem(37);
      width: pxToRem(150);
      margin-left: pxToRem(20);
      background-color: $btn-shadow;
    }
  }
}

.error-list {
  text-align: left;
  font-size: pxToRem(18);
  color: $color-label-event;

  li {
    list-style: disc;
  }
}