.dashboard-area {
  width: pxToRem(1710);
  height: pxToRem(1012);
  // background-image: url('../../../../../assets/images/bg_img.png');
  background-size: cover;
  object-fit: contain;

  position: relative;
}
.location-area {
  margin-top: pxToRem(30);
  position: absolute;
  left: 50%;
  width: 23px;
  height: 29px;
}
