.dashboard-area {
  width: pxToRem(1710);
  height: pxToRem(1012);
  // background-image: url('../../../../../assets/images/bg_img.png');
  background-size: cover;
  object-fit: contain;

  position: relative;

  &__card {
    width: calc(100vw - #{pxToRem(600)});
    padding: pxToRem(20) 0 pxToRem(20) pxToRem(20);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-gap: 30px;
  }
}

.location-area {
  margin-top: pxToRem(30);
  position: absolute;
  left: 50%;
  width: pxToRem(23);
  height: pxToRem(29);
}

.header__select {
  position: fixed;
  top: pxToRem(12);
  z-index: 999;
  margin-left: pxToRem(40);

  .css-4ljt47-MenuList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    border-radius: pxToRem(15);
  }
}

.mh-100vh {
  min-height: 100vh;
}