fieldset {
  border-width: 2px;
  border-style: groove;
  border-color: black;
  border-image: initial;
  width: fit-content;
}

legend {
  width: fit-content;
}

.usa-unstyled-list {
  padding: 20px;
}
