body,
html {
  min-width: pxToRem(1900);

  * {
    outline: none;
  }
}

.main-content {
  > .content {
    min-height: 90.08vh;
  }
}

.search-wrapper {
  position: relative;
  margin-bottom: pxToRem(24);

  .input__box input.input-change {
    width: 100%;
    height: pxToRem(64);
    border: pxToRem(1) solid $color-notice-border;
    background: $color-light2;
    padding: 0 pxToRem(47) 0 pxToRem(37);
    font-size: pxToRem(17);
    font-weight: $medium;
    color: $color-notice-title;

    &::-webkit-input-placeholder {
      letter-spacing: pxToRem(-0.29);
      opacity: 0.3;
      font-size: pxToRem(17);
      font-weight: $medium;
      text-align: left;
      color: $color-input;
    }

    &::placeholder {
      letter-spacing: pxToRem(-0.29);
      opacity: 0.3;
      font-size: pxToRem(17);
      font-weight: $medium;
      text-align: left;
      color: $color-input;
    }

    &::-moz-placeholder {
      letter-spacing: pxToRem(-0.29);
      opacity: 0.3;
      font-size: pxToRem(17);
      font-weight: $medium;
      text-align: left;
      color: $color-input;
    }

    &:-ms-input-placeholder {
      letter-spacing: pxToRem(-0.29);
      opacity: 0.3;
      font-size: pxToRem(17);
      font-weight: $medium;
      text-align: left;
      color: $color-input;
    }
  }

  &.pl-wrapper {
    .input__box input.input-change {
      padding-left: pxToRem(15);
    }
  }

  .search-delete,
  .back-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: pxToRem(19);
  }

  .search-delete {
    padding: pxToRem(10);
    right: pxToRem(10);

    img {
      width: pxToRem(15);
      height: pxToRem(15);
    }
  }

  .back-btn {
    left: pxToRem(15);
    right: auto;
    width: pxToRem(25);

    img {
      width: pxToRem(15);
    }
  }
}

[role='button'] {
  &:focus {
    outline: none;
  }
}

.input__box .css-1wa3eu0-placeholder {
  color: $color-placeholder;
  font-size: pxToRem(16);
}

a,
button {
  outline: none;

  &:focus {
    border: 0;
    box-shadow: none;
  }
}

.selection_bubble_root,
.selection_img_search {
  display: none;
}

.pagination {
  opacity: 1 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: pxToRem(10);

  .page-item {
    margin-left: pxToRem(5);
    margin-right: pxToRem(5);
    border-radius: pxToRem(3);
    font-size: pxToRem(12);

    &.active {
      .page-link {
        background-color: $bg-button;
        border-color: $bg-button;
        color: $white;
      }
    }

    .page-link {
      color: $bg-button;
      border-radius: pxToRem(3);
      outline: none;

      &:focus,
      &.active {
        box-shadow: none;
      }
    }
  }
}

.title-label {
  font-size: pxToRem(15);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  margin-right: pxToRem(10);
  letter-spacing: pxToRem(-0.38);
  text-align: left;
  color: $black-active;
}

.date-group {
  span {
    margin: 0 pxToRem(10);
    font-size: pxToRem(15);
    line-height: pxToRem(30);
  }

  button {
    margin-left: pxToRem(10);
  }

  .customer-select {
    .css-26l3qy-menu .css-4ljt47-MenuList * {
      padding: 0.3125rem 0.5rem !important;
    }

    .css-g1d714-ValueContainer,
    .css-1fhf3k1-control {
      min-height: pxToRem(32);
      max-height: pxToRem(32);
      overflow: visible !important;
      font-size: pxToRem(14) !important;
    }

    .css-yk16xz-control {
      min-height: pxToRem(32);
      max-height: pxToRem(32);
    }

    .css-1pahdxg-control {
      min-height: pxToRem(32);
      max-height: pxToRem(32);

      .css-g1d714-ValueContainer,
      .css-1uccc91-singleValue {
        min-height: pxToRem(32);
        max-height: pxToRem(32);
      }
    }
  }
}

.mr-10 {
  margin-right: pxToRem(10);
}

button.h-32 {
  height: pxToRem(32);
  width: pxToRem(60);
  min-width: pxToRem(60);
}

.input-date {
  position: relative;

  img {
    position: absolute;
    right: pxToRem(15);
    width: pxToRem(14);
    height: pxToRem(14);
    top: pxToRem(9);
  }

  .react-datepicker-wrapper {
    input {
      border: solid 1px $color-border-card;
      border-radius: pxToRem(3);
      font-family: $Roboto-Font;
      font-size: pxToRem(15);
      line-height: 2.33;
      letter-spacing: -0.38px;
      text-align: left;
      color: $black;
      height: pxToRem(32);
      width: pxToRem(140);
      padding-left: pxToRem(14);
    }
  }
}

.group-char-right {
  width: 100%;
  margin: pxToRem(20) pxToRem(50);

  #chart {
    height: pxToRem(360) !important;

    svg {
      height: pxToRem(360) !important;

      .dxc-axes-group {
        text {
          font-family: $Noto-Sans-Font !important;
          font-size: pxToRem(17) !important;
          font-weight: bold !important;
          line-height: 1.47;
          letter-spacing: -0.51px !important;
          fill: #1d2b36 !important;
        }
      }

      .dxc-arg-axis {
        text {
          font-size: pxToRem(14) !important;
        }
      }
    }
  }
}

.group-char-right {
  position: relative;
}

.unit-chart {
  position: absolute;
  bottom: pxToRem(24);
  display: flex;
  justify-content: space-between;
  width: 100%;

  .unit-left,
  .unit-right {
    font-size: pxToRem(10);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.3px;
    text-align: left;
    color: $bg-button;
    margin-left: pxToRem(8);
    position: absolute;
    bottom: 0;
  }

  .unit-left {
    left: pxToRem(44);
    bottom: pxToRem(8);
    margin-left: 0;
  }

  .unit-right {
    bottom: pxToRem(7);
    margin-left: 0;
    right: 0;
  }
}

#chart {
  width: 100% !important;

  svg {
    cursor: pointer;
    width: 100% !important;
    min-width: pxToRem(1000) !important;

    > rect {
      min-width: pxToRem(1000) !important;
      width: 100% !important;
    }
  }
}
