table {
  text-align: center;

  tbody td,
  th {
    vertical-align: middle !important;
    border: solid pxToRem(1) $color-light-dd;
  }

  thead th {
    white-space: nowrap;
    height: pxToRem(50);
    padding: pxToRem(12) pxToRem(1) pxToRem(15) pxToRem(15);
    background-color: $color-light-68;
    border: 0;
    color: $white;
    text-align: center;
    font-size: pxToRem(17);
    font-weight: bold;
    line-height: 1.18;
    letter-spacing: pxToRem(-0.51);
    position: relative;

    img {
      width: pxToRem(15);
      margin-left: pxToRem(3);
      position: relative;
      top: pxToRem(2);
    }
  }

  tbody {
    tr {
      background-color: $bg-light10;

      &:nth-of-type(odd) {
        background-color: $white;
      }
    }

    td {
      font-size: pxToRem(15);
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: pxToRem(-0.51);
      text-align: center;
      color: $black-active;
      padding: pxToRem(12) pxToRem(5)
    }

    .row-active {
      @include transition(0.3s);

      td {
        color: $white;
      }

      &:hover {
        td {
          color: $white;
        }

        @include transition(0.1s);
      }
    }
  }
}


@include breakpoint(lg1280) {
  .table {
    width: 150% !important;

    tr th {
      min-width: pxToRem(150);
    }
  }

  .table-status {
    padding-right: 0 !important;
    margin-top: pxToRem(16);

    .table {
      width: 100% !important;
    }
  }
}

.row-cursor-pointer {
  cursor: pointer;
}

.selectorActive {
  position: relative;
  padding-right: 20px;

  .customer-select {
    min-width: pxToRem(100);
  }

  .spinner-border {
    width: pxToRem(15) !important;
    height: pxToRem(15) !important;
    position: absolute;
    right: pxToRem(0);
  }
}

.modal-sorting {
  min-width: pxToRem(180);
  height: pxToRem(188);
  padding: pxToRem(15) pxToRem(15) pxToRem(15);
  box-shadow: pxToRem(2) pxToRem(3) pxToRem(10) 0 rgba(0, 0, 0, 0.46);
  background-color: $white;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;

  .list-checkbox {
    padding: 0 pxToRem(40);
    text-align: left;
  }

  .checkbox-header {
    padding: 0 pxToRem(40);
    font-size: pxToRem(17);
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: pxToRem(-0.51);
    text-align: left;
    color: $bg-button;
    margin-bottom: pxToRem(5);
  }

  .button {
    width: 100%;
    margin-top: pxToRem(20);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.w-188 {
  width: pxToRem(188);
}