.button {
  border: 0 solid;
  background-color: $bg-button;
  font-size: pxToRem(15);
  color: $white;
  padding: pxToRem(4) pxToRem(15);
  margin: 0;
  height: pxToRem(38);
  font-weight: normal;
  min-width: pxToRem(100);
  border-radius: pxToRem(3);
  line-height: 1.5;

  &.bg-primary {
    background-color: $bg-button-primary !important;
  }

  &.btn-red {
    background-color: $color-label-event !important;
    color: $white;
  }

  &:focus {
    outline: none;
  }

  &:active {
    border: 0;
    outline: none;
    color: $white-opacity-2;
  }

  &--disabled,
  &:disabled {
    background-color: $btn-disable;
    color: $white;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--mw-100 {
    width: pxToRem(100);
  }

  &--w-100 {
    width: calc(100% - #{pxToRem(100)});
  }

  &__icon {
    height: pxToRem(25);
    border-radius: pxToRem(3);
    padding-right: pxToRem(15);

    &:after {
      content: '';
      border: solid $white;
      border-width: 0 pxToRem(0.5) pxToRem(0.5) 0;
      display: inline-block;
      padding: pxToRem(2);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: relative;
      top: pxToRem(-4);
      right: pxToRem(-5);
    }
  }

  &--link {
    height: auto;
    padding: 0;
    background-color: transparent;
    color: $color-list;
  }
}