.search {
  position: relative;
  width: calc(100vw - 610px);
  display: flex;

  &__icon {
    position: absolute;
    left: pxToRem(20);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: pxToRem(20);
    height: pxToRem(20);
  }

  &__input {
    padding: pxToRem(5) pxToRem(5) pxToRem(5) pxToRem(75);
    outline: none;
    border: none;
    width: 100%;

    font-size: pxToRem(15);
    font-weight: $medium;
    line-height: pxToRem(22);
    letter-spacing: pxToRem(-0.45);
    color: $color-input-search;

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.auto-suggest {
  position: absolute;
  z-index: 999;
  max-height: pxToRem(155);
  overflow: auto;
  background-color: $white;
  padding: pxToRem(20) 0;
  border-radius: 0 0 15px 15px;

  top: 100%;
  margin-top: pxToRem(16);
  left: 0;
  right: 0;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 0 pxToRem(40);
    font-size: pxToRem(17);
    font-weight: $medium;
    line-height: pxToRem(32);
    letter-spacing: pxToRem(-0.51);
    color: $color-input-search;

    cursor: pointer;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.spinner {
  position: absolute;
  right: 0;
  border: 5px solid $light-gray; /* Light grey */
  border-top: 5px solid $blue; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}