.menu {
  position: fixed;
  z-index: 999999;
  width: pxToRem(210);
  height: 100vh;
  color: #fff;
  background-color: $bg-button;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.28);

  &__head {
    font-family: $Noto-Sans-Font;
    font-size: pxToRem(28);
    font-weight: bold;
    line-height: 1.46;
    letter-spacing: -0.84px;
    text-align: left;
    color: $bg-footer;
    margin: pxToRem(26) pxToRem(55);
  }

  &__info {
    padding: pxToRem(23) 0 pxToRem(23) pxToRem(15);
    display: flex;
    align-items: center;

    span {
      margin-left: pxToRem(5);
      font-weight: $medium;
      font-size: pxToRem(16);
      line-height: 1.5;
      letter-spacing: pxToRem(-0.48);
      color: $bg-footer;
    }
  }

  &__wraper-head {
    // box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.28);
  }

  &__list {
    background-color: $color-black-light;
  }

  &__listsub {
    display: none;

    &.open {
      display: block;
    }
  }

  &__listNestsub {
    display: none;

    &.open {
      display: block;
    }
  }
}

.item {
  position: relative;

  &__link {
    padding: pxToRem(10) 0;
    display: flex;
    justify-content: space-between;
    color: $bg-footer;
    align-items: center;

    &__label {
      margin-left: pxToRem(15);
      font-family: $Noto-Sans-Font;
      font-size: pxToRem(15);
      line-height: 1.47;
      letter-spacing: -0.45px;
      text-align: left;
    }

    &:hover {
      color: $bg-footer;
    }

    svg {
      margin-right: pxToRem(15);
    }

    &.active {
      svg {
        position: absolute;
        right: pxToRem(15);
        margin: 0;
        font-size: pxToRem(15);
        @include transformRotate(90deg);
      }
    }

    &.active-link {
      background-color: $bg-button-primary;
    }
  }
}

.active-link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 42px;
    background-color: $blue2;
    top: 0;
    left: 0;
  }
}

.menu__line {
  width: 100%;
  height: pxToRem(2);
  opacity: 0.1;
  background-color: $white;
}

.sub-item {
  margin-left: pxToRem(10);
}

.item-link-sub {
  padding-left: pxToRem(10);
}

.item-link-nestsub {
  padding-left: pxToRem(20);
}

.item-link-label-nest-sub {
  padding-left: pxToRem(35);
}
